name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.13"
          cache: true

      - name: Install dependencies
        run: pdm install

      - name: Run linting
        run: pdm run lint
        continue-on-error: true

      - name: Run tests
        run: pdm run pytest
